<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="booker-comment-heading" data-cy="CommentCreateUpdateHeading" bookerTranslate="bookerApp.comment.home.createOrEditLabel">
        Create or edit a Comment
      </h2>

      <div>
        <booker-alert-error></booker-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" bookerTranslate="bookerApp.comment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" bookerTranslate="bookerApp.comment.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" bookerTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" bookerTranslate="bookerApp.comment.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" bookerTranslate="bookerApp.comment.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" bookerTranslate="bookerApp.comment.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger" bookerTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_review" bookerTranslate="bookerApp.comment.review">Review</label>
          <select
            class="form-control"
            id="field_review"
            data-cy="review"
            name="review"
            formControlName="review"
            [compareWith]="compareReview"
          >
            @if (editForm.get(['review'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (reviewOption of reviewsSharedCollection; track $index) {
              <option [ngValue]="reviewOption">{{ reviewOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['review'])!.invalid && (editForm.get(['review'])!.dirty || editForm.get(['review'])!.touched)) {
          <div>
            @if (editForm.get(['review'])?.errors?.required) {
              <small class="form-text text-danger" bookerTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span bookerTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span bookerTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
