<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="booker-book-collection-heading"
        data-cy="BookCollectionCreateUpdateHeading"
        bookerTranslate="bookerApp.bookCollection.home.createOrEditLabel"
      >
        Create or edit a Book Collection
      </h2>

      <div>
        <booker-alert-error></booker-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" bookerTranslate="bookerApp.bookCollection.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_position" bookerTranslate="bookerApp.bookCollection.position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addedAt" bookerTranslate="bookerApp.bookCollection.addedAt">Added At</label>
          <div class="d-flex">
            <input
              id="field_addedAt"
              data-cy="addedAt"
              type="datetime-local"
              class="form-control"
              name="addedAt"
              formControlName="addedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book" bookerTranslate="bookerApp.bookCollection.book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            @if (editForm.get(['book'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (bookOption of booksSharedCollection; track $index) {
              <option [ngValue]="bookOption">{{ bookOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['book'])!.invalid && (editForm.get(['book'])!.dirty || editForm.get(['book'])!.touched)) {
          <div>
            @if (editForm.get(['book'])?.errors?.required) {
              <small class="form-text text-danger" bookerTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_collection" bookerTranslate="bookerApp.bookCollection.collection">Collection</label>
          <select
            class="form-control"
            id="field_collection"
            data-cy="collection"
            name="collection"
            formControlName="collection"
            [compareWith]="compareCollection"
          >
            @if (editForm.get(['collection'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (collectionOption of collectionsSharedCollection; track $index) {
              <option [ngValue]="collectionOption">{{ collectionOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['collection'])!.invalid && (editForm.get(['collection'])!.dirty || editForm.get(['collection'])!.touched)) {
          <div>
            @if (editForm.get(['collection'])?.errors?.required) {
              <small class="form-text text-danger" bookerTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span bookerTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span bookerTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
