<div>
  <h2 id="page-heading" data-cy="ReadingStatusHeading">
    <span bookerTranslate="bookerApp.readingStatus.home.title">Reading Statuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span bookerTranslate="bookerApp.readingStatus.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reading-status"
        [routerLink]="['/reading-status/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span bookerTranslate="bookerApp.readingStatus.home.createLabel">Create a new Reading Status</span>
      </button>
    </div>
  </h2>

  <booker-alert-error></booker-alert-error>

  <booker-alert></booker-alert>

  <booker-filter [filters]="filters"></booker-filter>

  @if (readingStatuses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span bookerTranslate="bookerApp.readingStatus.home.notFound">No Reading Statuses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr bookerSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" bookerSortBy="id">
              <div class="d-flex">
                <span bookerTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="status">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="startedDate">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.startedDate">Started Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="finishedDate">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.finishedDate">Finished Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="currentPage">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.currentPage">Current Page</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="createdAt">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="updatedAt">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="user.id">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="book.id">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.readingStatus.book">Book</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (readingStatus of readingStatuses(); track trackId(readingStatus)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reading-status', readingStatus.id, 'view']">{{ readingStatus.id }}</a>
              </td>
              <td>{{ readingStatus.status }}</td>
              <td>{{ readingStatus.startedDate | formatMediumDate }}</td>
              <td>{{ readingStatus.finishedDate | formatMediumDate }}</td>
              <td>{{ readingStatus.currentPage }}</td>
              <td>{{ readingStatus.createdAt | formatMediumDatetime }}</td>
              <td>{{ readingStatus.updatedAt | formatMediumDatetime }}</td>
              <td>
                {{ readingStatus.user?.id }}
              </td>
              <td>
                @if (readingStatus.book) {
                  <div>
                    <a [routerLink]="['/book', readingStatus.book.id, 'view']">{{ readingStatus.book.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/reading-status', readingStatus.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/reading-status', readingStatus.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(readingStatus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (readingStatuses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <booker-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></booker-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
