<div>
  <h2 id="page-heading" data-cy="BookHeading">
    <span bookerTranslate="bookerApp.book.home.title">Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span bookerTranslate="bookerApp.book.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span bookerTranslate="bookerApp.book.home.createLabel">Create a new Book</span>
      </button>
    </div>
  </h2>

  <booker-alert-error></booker-alert-error>

  <booker-alert></booker-alert>

  <booker-filter [filters]="filters"></booker-filter>

  @if (books().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span bookerTranslate="bookerApp.book.home.notFound">No Books found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr bookerSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" bookerSortBy="id">
              <div class="d-flex">
                <span bookerTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="isbn">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.isbn">Isbn</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="title">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="description">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="coverImageUrl">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.coverImageUrl">Cover Image Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="pageCount">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.pageCount">Page Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="publicationDate">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.publicationDate">Publication Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="language">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="averageRating">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.averageRating">Average Rating</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="totalRatings">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.totalRatings">Total Ratings</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="totalReviews">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.totalReviews">Total Reviews</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="createdAt">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="updatedAt">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="publisher.id">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.book.publisher">Publisher</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (book of books(); track trackId(book)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a>
              </td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.description }}</td>
              <td>{{ book.coverImageUrl }}</td>
              <td>{{ book.pageCount }}</td>
              <td>{{ book.publicationDate | formatMediumDate }}</td>
              <td>{{ book.language }}</td>
              <td>{{ book.averageRating }}</td>
              <td>{{ book.totalRatings }}</td>
              <td>{{ book.totalReviews }}</td>
              <td>{{ book.createdAt | formatMediumDatetime }}</td>
              <td>{{ book.updatedAt | formatMediumDatetime }}</td>
              <td>
                @if (book.publisher) {
                  <div>
                    <a [routerLink]="['/publisher', book.publisher.id, 'view']">{{ book.publisher.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/review']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.review' | translate) }"
                      >Show Review</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/rating']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.rating' | translate) }"
                      >Show Rating</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/reading-status']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.readingStatus' | translate) }"
                      >Show Reading Status</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/book-author']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.bookAuthor' | translate) }"
                      >Show Book Author</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/book-genre']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.bookGenre' | translate) }"
                      >Show Book Genre</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/book-tag']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.bookTag' | translate) }"
                      >Show Book Tag</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/book-collection']"
                    [queryParams]="{ 'filter[bookId.in]': book.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      bookerTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('bookerApp.book.bookCollection' | translate) }"
                      >Show Book Collection</span
                    >
                  </button>
                  <a [routerLink]="['/book', book.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (books().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <booker-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></booker-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
