<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (readingStatus(); as readingStatusRef) {
      <div>
        <h2 data-cy="readingStatusDetailsHeading"><span bookerTranslate="bookerApp.readingStatus.detail.title">Reading Status</span></h2>

        <hr />

        <booker-alert-error></booker-alert-error>

        <booker-alert></booker-alert>

        <dl class="row-md jh-entity-details">
          <dt><span bookerTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ readingStatusRef.id }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.status">Status</span></dt>
          <dd>
            <span>{{ readingStatusRef.status }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.startedDate">Started Date</span></dt>
          <dd>
            <span>{{ readingStatusRef.startedDate | formatMediumDate }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.finishedDate">Finished Date</span></dt>
          <dd>
            <span>{{ readingStatusRef.finishedDate | formatMediumDate }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.currentPage">Current Page</span></dt>
          <dd>
            <span>{{ readingStatusRef.currentPage }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.createdAt">Created At</span></dt>
          <dd>
            <span>{{ readingStatusRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ readingStatusRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.user">User</span></dt>
          <dd>
            <span>{{ readingStatusRef.user?.id }}</span>
          </dd>
          <dt><span bookerTranslate="bookerApp.readingStatus.book">Book</span></dt>
          <dd>
            @if (readingStatus()!.book) {
              <div>
                <a [routerLink]="['/book', readingStatus()!.book?.id, 'view']">{{ readingStatusRef.book?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span bookerTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/reading-status', readingStatusRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span bookerTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
