<div>
  <h2 id="page-heading" data-cy="BookTagHeading">
    <span bookerTranslate="bookerApp.bookTag.home.title">Book Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span bookerTranslate="bookerApp.bookTag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book-tag"
        [routerLink]="['/book-tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span bookerTranslate="bookerApp.bookTag.home.createLabel">Create a new Book Tag</span>
      </button>
    </div>
  </h2>

  <booker-alert-error></booker-alert-error>

  <booker-alert></booker-alert>

  <booker-filter [filters]="filters"></booker-filter>

  @if (bookTags().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span bookerTranslate="bookerApp.bookTag.home.notFound">No Book Tags found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr bookerSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" bookerSortBy="id">
              <div class="d-flex">
                <span bookerTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="book.id">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.bookTag.book">Book</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" bookerSortBy="tag.id">
              <div class="d-flex">
                <span bookerTranslate="bookerApp.bookTag.tag">Tag</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bookTag of bookTags(); track trackId(bookTag)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book-tag', bookTag.id, 'view']">{{ bookTag.id }}</a>
              </td>
              <td>
                @if (bookTag.book) {
                  <div>
                    <a [routerLink]="['/book', bookTag.book.id, 'view']">{{ bookTag.book.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (bookTag.tag) {
                  <div>
                    <a [routerLink]="['/tag', bookTag.tag.id, 'view']">{{ bookTag.tag.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book-tag', bookTag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/book-tag', bookTag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bookTag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" bookerTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (bookTags().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <booker-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></booker-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
