<div>
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading" bookerTranslate="metrics.title">Application Metrics</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span bookerTranslate="metrics.refresh.button">Refresh</span>
    </button>
  </h2>

  <h3 bookerTranslate="metrics.jvm.title">JVM Metrics</h3>

  @let metricsRef = metrics();
  @if (metricsRef && !updatingMetrics()) {
    <div class="row">
      <booker-jvm-memory class="col-md-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm"></booker-jvm-memory>

      <booker-jvm-threads class="col-md-4" [threads]="threads()"></booker-jvm-threads>

      <booker-metrics-system
        class="col-md-4"
        [updating]="updatingMetrics()"
        [systemMetrics]="metricsRef.processMetrics"
      ></booker-metrics-system>
    </div>
  }

  @if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
    <booker-metrics-garbagecollector
      [updating]="updatingMetrics()"
      [garbageCollectorMetrics]="metricsRefGarbageCollector"
    ></booker-metrics-garbagecollector>
  }

  @if (updatingMetrics()) {
    <div class="well well-lg" bookerTranslate="metrics.updating">Updating...</div>
  }

  @if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
    <booker-metrics-request [updating]="updatingMetrics()" [requestMetrics]="metricsRefHttpServerRequests"></booker-metrics-request>
  }

  @if (metricsRef?.services; as metricsRefServices) {
    <booker-metrics-endpoints-requests
      [updating]="updatingMetrics()"
      [endpointsRequestsMetrics]="metricsRefServices"
    ></booker-metrics-endpoints-requests>
  }

  @if (metricsRef?.cache; as metricsRefCache) {
    <booker-metrics-cache [updating]="updatingMetrics()" [cacheMetrics]="metricsRefCache"></booker-metrics-cache>
  }

  @if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
    <booker-metrics-datasource [updating]="updatingMetrics()" [datasourceMetrics]="metricsRef.databases"></booker-metrics-datasource>
  }
</div>
